# ConfigMap containing SQL to grant schema permissions to homarr user
apiVersion: v1
kind: ConfigMap
metadata:
  name: homarr-init-sql
  namespace: homelab
data:
  init.sql: |
    -- Grant schema permissions to homarr user for database migrations
    \c homarr
    GRANT ALL PRIVILEGES ON SCHEMA public TO homarr;
    GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO homarr;
    GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA public TO homarr;
    ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL PRIVILEGES ON TABLES TO homarr;
    ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL PRIVILEGES ON SEQUENCES TO homarr;
