apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn-monitoring
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "4"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    namespace: longhorn-system
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/jamilshaikh07/talos-proxmox-gitops
    targetRevision: main
    path: manifests/monitoring
    directory:
      include: longhorn-*.yaml
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-monitoring
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "4"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/jamilshaikh07/talos-proxmox-gitops
    targetRevision: main
    path: manifests/monitoring
    directory:
      include: argocd-*.yaml
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false