[Unit]
Description=qBittorrent Torrent Client Container
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker start qbittorrent
ExecStop=/usr/bin/docker stop qbittorrent
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target