# Longhorn PVC for Loki hot storage (index and cache)
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loki-storage
  namespace: loki
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 20Gi
